/* Soluzione qui */

/* TABLET */
@media screen and (min-width: 768px) {

    /* LAYOUT */
    .container {
        max-width: 90%;
        padding-top: 25px;
    }

    /* HEADER */
    #topbar {
        justify-content: flex-start;
    }


    /* Recipe Section */
    .recipe-title {
        font-size: 1.3rem;
    }

    .recipe-origin {
        display: inline-block;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 20px;
    }
    
    .quick-notes ul li {
        width: 30%;
        font-size: 0.8rem;
    }

    /* Social Network Buttons */
    .social-networks .btn {
        width: 30%;
    }

    /* Advertisement banner */
    .ads {
        display: block;
    }

    /* Recipe Presentation */
    .clearfix img {
        float: left;
        margin-right: 10px;
    }


}

/* DESKTOP */
@media screen and (min-width: 992px) {

    /* LAYOUT */

    .container {
        padding-bottom: 50px;
    }

    /* Recipe Section */

    .recipe-title {
        font-size: 1.5rem;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 75%;
    }

    .quick-notes ul {
        flex-direction: column;
        gap: 0 0;
    }

    .quick-notes ul li {
        width: 100%;
        font-size: 0.8rem;
    }

    /* Social Network buttons */
    .social-networks .label {
        display: inline-block;
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    address {
        text-align: left;
    }

}